body {
    margin: 0;
    background: #111;
    font-family: Arial;
    display: flex;
    align-items: center;
    height: 100vh;
}

.slider-container {
    max-width: 800px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;    
   
}

.slider-img {
    width: 100%;
    height: 450px;
    object-fit: cover;  
    transition: opacity .5s ease-in-out;
     border-radius: 10px;
    box-shadow: 0 0 20px #0005;
}

/* Buttons */
.btn-wrap {
    text-align: center;
    margin-top: 15px;
}

.btn {
    padding: 10px 25px;
    margin: 5px;
    border: none;
    background:linear-gradient(#06345c , rgba(6, 100, 147, 0.98));
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background:linear-gradient(200deg, #06345c , rgba(6, 100, 147, 0.98));
    background:;
    transform: scale(1.05);
}
